.footer {
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 5px;
}

.footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: var(--destaque-inverso);
}
