.article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

.recuo p {
  text-indent: 30px;
  font-size: 0.9em;
  margin-bottom: 8px;
}
