.main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

.ficha {
  grid-column: 2;
}

.detalhes {
  grid-column: 2;
}

@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: auto 300px 1fr auto;
  }

  .ficha {
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 65px;
  }

  .detalhes {
    grid-column: 3 / 4;
  }
}
